.form-container {
  
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid hwb(247 4% 21%);
    border-radius: 8px;
    
  }
  
  .form-name, .form-description {
    margin-top: 10px;
    
    margin-bottom: 15px;
  }
  
  .questions-section {
    margin-top: 15px;
  }
  
  .question-form {
    margin-bottom: 16px;
    margin-top: 16px;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
  }
  
  .text-field {
    margin-bottom: 10px;
  }
  
  .form-control {
    margin-bottom: 12px;
  }
  
  .preview-image {
    max-width: 100px;
    margin-top: 8px;
    border-radius: 4px;
  }
  
  .question-actions button {
    margin-right: 8px;
  }
  
  /* From Uiverse.io by bandirevanth */ 
.custom-btn {
 width: 130px;
 height: 40px;
 color: #fff;
 border-radius: 5px;
 padding: 10px 25px;
 font-family: 'Lato', sans-serif;
 font-weight: 500;
 background: transparent;
 cursor: pointer;
 transition: all 0.3s ease;
 position: relative;
 display: inline-block;
 box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
 outline: none;
}

.btn-1 {
 background: rgb(96,9,240);
 background: linear-gradient(0deg, rgba(96,9,240,1) 0%, rgba(129,5,240,1) 100%);
 border: none;
}

.btn-1:before {
 height: 0%;
 width: 2px;
}

.btn-1:hover {
 box-shadow: 4px 4px 6px 0 rgba(255,255,255,.5),
              -4px -4px 6px 0 rgba(116, 125, 136, .5), 
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
}


.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}
